body {
background-color: beige;
letter-spacing: 2px;
font-size: 18px;
font-weight: 600;
}

h1 {
color: dimgray;
text-align: center;
letter-spacing: 2px;
font-size: 30px;
font-weight: 600;
}

h2 {
color: dimgray;
text-align: center;
letter-spacing: 2px;
font-size: 25px;
font-weight: 600;
}

h3 {
    text-align: justify;
    font-size: medium;
    color: rgb(61, 60, 60);;
}

.artworks-container {
    justify-content: space-evenly;
}

.artworks-container img {
    width:fit-content;
    height: auto;
    border: 1px;
}

#refresh-button:hover {
    cursor: pointer;
}

#close-button:hover {
    cursor: pointer;
}