body {
background-color: rgb(238, 217, 175);
letter-spacing: 2px;
font-size: 18px;
font-weight: 600;
}

h1 {
color: dimgray;
text-align: center;
letter-spacing: 2px;
font-size: 40px;
font-weight: 600;
}

h2 {
color: dimgray;
text-align: center;
letter-spacing: 2px;
font-size: 25px;
font-weight: 600;
}

h3 {
    text-align: justify;
    font-size: medium;
    color: rgb(61, 60, 60);;
}

#artworks {
    justify-content: center;

}


#artworks-container {
    justify-content: space-between;
    gap: 5px;
}

#artworks-container img {
    width:fit-content;
    height: 200px;
}

#refresh-button,
#close-button {

    padding: 10px;
    border-radius: 5px;
}

#refresh-button:hover {
    cursor: pointer;
}

#close-button:hover {
    cursor: pointer;
}

#exhibitions {

    text-align: center;
}